:root {
  --van-nav-bar-background-color: #000000;
  --van-nav-bar-title-text-color: #ffffff;
  --van-tabs-nav-background-color: #000000;
  --van-border-color: #000000;
  --van-tab-active-text-color: #ffffff;
  --van-tabbar-background-color: #000000;
  --van-tabbar-item-active-background-color: #000000;
  --van-cell-background-color: #000000;
  --van-search-background-color: #000000;
  --van-search-content-background-color: rgba(66, 57, 57, 0.7);
  --van-cell-text-color: #ffffff;
  --van-popup-background-color: #000000;
  --van-cell-group-background-color: #000000;
  --van-field-input-text-color: #e5e5e5;
  --van-text-color: #e5e5e5;
}
